.pop-up__input {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 9px 0;
  box-sizing: border-box;
}

/* .pop-up__input:focus {
  border-radius: 4px;
  border: 1px solid #7ba0b8;
  outline: none;
} */

.pop-up__input:last-of-type {
  margin-top: 5px;
}

/* @media (max-width: 460px) {
  .pop-up__input:last-of-type {
    margin-bottom: 30px;
    margin-top: 10px;
  }
} */
